move ORDER

1) volledige z maken

2) driehoek blokeren tegenstander

3) vierkant maken
    (-->laatst gelegde verwijderen)

4)bouwen naar boven met bal op lager niveau(laagste niveau)

5)Halve z maken

6)Driehoek maken

7)2 connecteren

--Als constructie maakt, naar centrum



Remove Rules:


       eerste bal: removen van gemaakte square

        tweede bal wegnemen van niet square tegel:
        1) Indien er meer dan 2 vrije ballen liggen

        2de bal wegnemen van square tegel:
        2)Indien tegenstander geen driehoek heeft






