move ORDER

1) volledige z maken

2) driehoek blokeren tegenstander

3) vierkant maken
    (-->laatst gelegde verwijderen)

4)bouwen naar boven met bal op lager niveau(laagste niveau)

5)Halve z maken

6)Driehoek maken

7)2 connecteren



--Als ocnstructie maakt, naar centrum


