move ORDER

1) volledige z maken

2) driehoek blokeren tegenstander

3) vierkant maken
    (-->laatst gelegde verwijderen)

4)bouwen naar boven met bal op lager niveau(laagste niveau)

5)Halve z maken

6)Driehoek maken

7)2 connecteren

--Als constructie maakt, naar centrum



Remove Rules:


       eerste bal: removen van gemaakte square

        tweede bal niet wegnemen van niet square tegel:
            indien regel 1,3

        anders wel nemen:
            voorang op regel4


        2de bal wegnemen van square tegel:
            Indien tegenstander geen driehoek heeft






